<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title{{ block('title') }}></title>
  <meta name="description" content="Lengow test">
  <meta name="author" content="Alexis M.">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>