{% extends 'FakeCompanyTestBundle::base.html.twig' %}
{% block title %}Add an order{% endblock %}
{% block content %}
    <a title="Back to the homepage !" href="{{ path('fake_company_test_homepage') }}">Homepage</a>
    {{ form(form) }}
{% endblock %}