{% extends 'FakeCompanyTestBundle::base.html.twig' %}
{% block title %}Lengow test{% endblock %}
{% block content %}
    <p>Hello world !</p>
    <p>Today, I can tell you that we persisted {{ persistedOrdersNumber }} order(s) when you refreshed the page. How awesome is that?</p>

    <p>Here is a summary of the persisted orders :</p>

    <a title="Add a new order" href="{{ path('fake_company_test_order_new') }}">Add a new order</a>

    {{ grid(grid) }}
{% endblock %}